.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
  
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

$colors: red green blue black white gray grey;
@each $color in $colors {
  .#{$color} {
    color: #{$color};
  }
}

.home-title {
  // font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  .header-1 {
    font-size: 48pt;
  }
  .header-2 {
    font-size: 24pt;
  }
}

content.home {
  text-align: justify;
}

.resp {
  > article {
    display: flex;
    header {
      font-weight: bold;
      flex: 0 0 150px;
    }
    .contents {
      flex: 1;
    }
  }
}

section.alpha-list {
  + ol {
    list-style-type: lower-alpha;
  }
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.banner {
  $banner-color: #0f1834;
  background-color: $banner-color;
  background-size: contain;
  background-position-x: right;
  flex-basis: 225px;
  // border-left: 10px solid;
  // border-image: linear-gradient( to left, $banner-color, transparent ) 0 100%;
}
#menu {
  margin-top: 0;
}